body{
 background-color:white;
 background:none 
 color:black;}
 div {border:black
 }

img{display: none;
}

nav{display: none;
}
p {
  font-size:1em;
  }
header {
  width:80%;
  text-align: center;
  background-color: white ;
  color:black;
  } 
section {
  margin-right:auto;
  margin-left:auto;
  text-justify:left;
  padding:15px;
  border: 20px black;
  border-bottom-color:black;
  }
h1  {font-size:2em;
   }
h2 {
    text-decoration: underline;
	font-size:1.7;
	}
h3 {
    font-size:1.4;
	}